﻿.musicly-songTile {
	height: 300px;
	width: 300px;
	margin: 10px 10px;
	border-radius: 10px;
	position: relative;
}

.musicly-backgroundImage {
	filter: blur(4px);
	height: 100%;
	background-size: cover;
}

.musicly-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.musicly-songAudioControls {
	height: 40px;
	width: inherit;
	position: relative;
	top: 40px;
}

.musicly-songContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}