﻿@model IList<Queries.Models.Song>
@{
    ViewData["Title"] = "Songs";
}
<link rel="stylesheet" href="~/css/song.css" />

<div class="text-center">
	<h1>Select song to listen</h1>
	<div class="musicly-songContainer">
		@foreach (var song in Model) {
			<div class="musicly-songTile">
				<div class="musicly-backgroundImage" style="background-image: url(pictures/album/@song.Album.Picture)"></div>
				<div class="musicly-content">
					<h3 class="musicly-songHeader"><span class="badge badge-dark">@song.Name</span></h3>
					<audio controls class="musicly-songAudioControls">
						<source src="http://d2ex78euj2ctxb.cloudfront.net/@song.BlobId" 
								type="audio/mp3"/>
					</audio>
				</div>
			</div>
		}
	</div>
</div>
