﻿@using System.Web;
@using System;
@using System.Net.Http;
@using Microsoft.AspNetCore.Http;
@model Settings
@{
    ViewData["Title"] = "Landing Page";
}

<br/>
<h3>Landing Page</h3>
@{
    var href = Model.IdentityServiceURL + HttpUtility.HtmlEncode(Url.Action("Index", "Login", null, Context.Request.Scheme));
}

<br/>

<div id="tokenizer" class="btn btn-light" onclick="location.href='@href'">
    Sign in
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(document).ready(function () {
        if (getParameterByName("token", document.location.href)) {
            setCookie(cookieName, getParameterByName("token", document.location.href), 0.2);
            debugger;
            window.location.href = "@Url.Action("Index", "Home",null,Context.Request.Scheme)";
    }
    });
    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }

    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
    }

    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }
    const cookieName = "@Model.TokenKey";
</script>